[submodule "PraktikumsVorlage"]
	path = PraktikumsVorlage
	url = https://github.com/ManeLippert/PraktikumsVorlage.git
[submodule "PPA1"]
	path = PPA1
	url = https://github.com/Phi-Laboratorys/PPA1.git
[submodule "PPA2"]
	path = PPA2
	url = https://github.com/Phi-Laboratorys/PPA2.git
[submodule "PPB1"]
	path = PPB1
	url = https://github.com/Phi-Laboratorys/PPB1.git
[submodule "PPB2"]
	path = PPB2
	url = https://github.com/Phi-Laboratorys/PPB2.git
[submodule "PPD"]
	path = PPD
	url = https://github.com/Phi-Laboratorys/PPD.git
[submodule "PPUnpublished"]
	path = PPUnpublished
	url = https://github.com/Phi-Laboratorys/PPUnpublished.git
[submodule "PPVorlage"]
	path = PPVorlage
	url = https://github.com/Phi-Laboratorys/PPVorlage.git